
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//border layout :
.wizardPanel {


  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .4s;

  color: #000000;
  background: #fff6fe;

  width: 100%;
  display: flex;
  flex-direction: column;

  .wizardHeader {
    margin: 30px;
  }

  .wizardMain {
    display: flex;
    flex-direction: row;

    .wizardCenter {
      margin: 40px;
      flex: 1;
    }
  }




  //address form
  span.error {
    color: red
  }


  h1 {
    color: #4dc449;
  }

  h2 {
    //font:
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 90px;
    font-weight: bold;
    color: gray;
  }

  h3 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: gray;
  }

  h4 {

    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: gray;
    padding-left: 50px;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }

  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }

  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }

  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  input[type=text] {
    width: 50%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  span.price {
    float: right;
    color: grey;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
}
