@import "./../index.scss";

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


//////////////////
.order-wizard {
  //display: flex;
  background: #fff6fe;
}

//border layout :
.wizardPanel {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .4s;
  width: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    color: $h1-color;
    font-family: "Arial", Times, serif;
  }

  h2 {
    //font:
    color: $h2-color;
    font-family: "Arial", Times, serif;
    font-style: normal;
    font-size: 50px;
    font-weight: normal;
  }

  h3 {
    font-family: "Arial", Times, serif;
    font-style: normal;
    color: $h3-color;
  }

  h4 {
    font-family: "Arial", Times, serif;
    font-style: normal;
  }

  .wizardHeader {
    //margin: 43px;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .wizardMain {
    //border: 2px #0a7d06 dashed;
    display: flex;
    flex-direction: row;

    .wizardCenter {
      //border: 1px #6c1c86 dashed;
      width:100%;
      margin: 40px;
      flex: 4;
    }
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  //span.price {
  //  float: right;
  //  color: grey;
  //}
}


