
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.okPanel {
  background: #fdfcfc;
  //display: flex;
  width: 100%;
  border: 1px solid #180404;

  text-align: center;

}

//border layout :
.wizardPanel {

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .4s;

  color: #000000;
  background: #fff6fe;

  width: 100%;
  display: flex;
  flex-direction: column;


  h1 {
    color: #4dc449;
  }

  h2 {
    //font:
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    color: gray;
  }

  h3 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: gray;
  }

  h4 {
    font-family: "Arial", Times, serif;
    font-style: normal;
    color: #0c0606;
    //padding-left: 50px;
  }


  input[type="radio"] {
    size: 100px;
    //color: pink;
    font-size: 20px;
    width: 2em;
    height: 2em;
  }


  input[type="checkbox"] {
    //size: 100px;
    //color: pink;
    //font-size: 20px;
    width: 20px;
    height: 20px;
    padding-top:6px;
  }


  select {
    padding:0px;
    //size: 100px;
    //color: pink;
    //font-size: 20px;
    width: 50px;
    height: 20px;
  }


  .wizardHeader {
    margin: 30px;
  }

  .wizardMain {
    display: flex;
    flex-direction: row;

    .wizardCenter {
      margin: 40px;
      flex: 1;
    }
  }

  //address form
  span.error {
    color: red
  }


  input[type=checkbox] {
    size: 30px;
  }

  input[type=text] {
    width: 50%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  span.price {
    float: right;
    color: grey;
  }
}
