

.order-summary {
  background: rgba(109, 115, 119, 0.14);
  border: 2px #1cd5af dashed;
  border-radius: 9px;
  text-align: left;
}

.order-summary .address {
  border: 2px #bf11fa dashed;
}


h3 {
  background: rgba(39, 136, 206, 0.14);
}
