
@import "./../../index.scss";
@import "./step";

.payment-panel {
  .description {
    padding: 10px;
    color: $base-text-color;
    font-weight: bold;
  }

  label {
    color: $base-text-color;
    font-weight: bold;
  }

  //disable border on field sets
  fieldset {
    border: 0;
  }

  button.SubmitButton {
    width: 150px;
    padding: 10px;
    margin:13px;
    font: normal 16px Arial, sans-serif;
  }

  input {
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 3px;
  }
}

