

/*******************
CREDIT CARD PAYMENT STEP
 *******************/
.payment-panel {
  .description {
    padding: 10px;
    color: $base-text-color;
    font-weight: bold;
    //font-style: ;
    //background: #0DA108;
  }
}

