@import "./../../index.scss";
@import "./step";

.payment-step {

  input[type="radio"] {
    size: 100px;
    font-size: 20px;
    width: 2em;
    height: 2em;
  }

  label {
    font-weight: bold;
    color: $base-text-color;
  }
}
