@import "src/index";

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//.wiz-container:before {
//  content: ' dfdd';
//  //display: block;
//  //left: 0;
//  width: 100vw;
//  height: 100vh;
//  opacity: 0.3;
//  background-image: url('./../../assets/img/welcome.jpg');
//  background-repeat: no-repeat;
//  //background-position: 50% 0;
//  background-size: cover;
//
//
//  border: 11px #56e71c dashed;
//}
//.wiz-container:before {
//  content: ' dfdd';
//}


.order-wizard {
  //border: 11px #1caae7 dashed;
  background-image: url('./../../assets/img/welcome.jpg');
  //opacity: 0.5;
}

.wiz-container {


  //background-image: url('./../../assets/img/welcome.jpg');
  //border: 11px #47a1e1 double;

  //border: 11px #bb1ce7 dashed;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px auto 400px;
  grid-template-rows: 100px auto;

  .emptySpace {
    //border: 11px #277734 double;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .wizardHeader {
    //border: 11px #47a1e1 double;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right:30px;
  }

  .backButton {
    //border: 11px #62c653 dashed;
    //border: 11px #c6b753 double;
    grid-column-start: 1;
    grid-row-start: 6;
    width: 100%;
  }

  .wizardStep {
    //border: 11px #c6b753 double;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
  }

  .nextButton {
    //border: 11px #5396c6 dashed;
    grid-column-start: 3;
    grid-row-start: 2;
  }



  .footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  //border: 3px #47a1e1 dashed;
  //opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .4s;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  //background: #faf2f9;



  //background: red;

  h1 {
    color: $h1-color;
    font-family: "Arial", Times, serif;
  }

  h2 {
    color: $h2-color;
    font-family: "Arial", Times, serif;
    font-style: normal;
    font-size: 50px;
    font-weight: normal;
  }

  h3 {
    font-family: "Arial", Times, serif;
    font-style: normal;
    color: $h3-color;
  }

  h4 {
    font-family: "Arial", Times, serif;
    font-style: normal;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }
}


.order-summary {
  //border: 11px #47a1e1 double;
  grid-column-start: 3;
  grid-row-start: 3;
}


.wizardHeader {
  //border: 11px #47a1e1 double;
  font-size: 2rem;
  padding-left: 10px;
}

.wiz-item {
  //border: 1px #47a1e1 dashed;
}

