@import "./../../index.scss";


.MuiCardHeader-content {
  flex: 1 1 auto;
  width: 100%;
}

.admin-item-box {
  background-color: $itembox-color-unselected;
  margin: 10px;
  //width: 300px;
  //buttons in pop down
  .admin-item-edit-buttons {
    display: flex;
    padding: 8px;
    align-items: flex-end;
    justify-content: flex-end;
  }


  > Textfield {
    color: $base-foreground-color
  }
}
