@import "./../../index.scss";


.MuiCardHeader-content {
  flex: 1 1 auto;
  width: 100%;
}

.admin-item-box {
  background-color: $itembox-color-unselected;
  margin: 10px;
  width: 300px;
  //#3f51b5
  //buttons in pop down
  .admin-item-edit-buttons {
    display: flex;
    padding: 8px;
    align-items: flex-end;
    justify-content: flex-end;
  }

  //.admin-item-update-image-button-box {
  //  position: absolute;
  //  color: white;
  //  bottom: 8px;
  //  right: 8px;
  //}

  //.admin-item-update-image-button {
  //  color: white;
  //  opacity: 0.6;
  //  font-weight: bold;
  //  font-size: 16px;
  //
  //  &:hover {
  //    color: white;
  //    opacity: 1;
  //  }
  //}

  //.admin-item-box-image-box {
  //  //border: 2px dashed #bf11fa;
  //  width: 284px;
  //  height: 284px;
  //  padding: 8px;
  //
  //  position: relative;
  //
  //  img.admin-item-box-image {
  //    max-width: 100%;
  //  }
  //}

  > Textfield {
    color: $base-foreground-color
  }
}
