
.admin-screen{
  background: white;
  h1 {
    color: #3c4a72;
  }
  h2 {
    //font:
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    color: gray;
  }

  h3 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: gray;
  }

  h4 {
    font-family: "Arial", Times, serif;
    font-style: normal;
    color: #0c0606;
    //padding-left: 50px;
  }
}

.orderBox {
  background:white;
  padding:5px;
  margin:5px;
}
.orderBox .deliveryType{
  width:10%
}
.orderBox .paymentType{
  width:10%
}


.addressBox {
  padding:5px;
  margin:5px;
  background: #b88989;
}

table.orderTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin:20px;
}

table.orderTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

table.orderTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.orderTable tbody td {
  font-size: 13px;
}
//table.orderTable tr:nth-child(even) {
//  background: #D0E4F5;
//}
table.orderTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.orderTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.orderTable thead th:first-child {
  border-left: none;
}

table.orderTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.orderTable tfoot td {
  font-size: 14px;
}
table.orderTable tfoot .links {
  text-align: right;
}
table.orderTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

