.admin-screen {
  background: white;
}
.admin-screen h1 {
  color: #3c4a72;
}
.admin-screen h2 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
  color: gray;
}
.admin-screen h3 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: gray;
}
.admin-screen h4 {
  font-family: "Arial", Times, serif;
  font-style: normal;
  color: #0c0606;
  padding-left: 40px;
  padding-top: 10px;
}
.admin-screen .admin-product-list {
  display: flex;
  flex-wrap: wrap;
}
.admin-screen .product-item .item-box-image {
  width: 50px;
  height: 50px;
}
.admin-screen ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.admin-screen li {
  float: left;
}
.admin-screen li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.admin-screen li a:hover {
  background-color: #111;
}
.admin-screen img {
  min-width: 280px;
  min-height: 280px;
  max-width: 280px;
  max-height: 280px;
}
table.orderTable {
  border: 1px solid #1c6ea4;
  background-color: #eee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 20px;
}
table.orderTable thead {
  background: #1c6ea4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  border-bottom: 2px solid #444;
}
table.orderTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #d0e4f5;
}
table.orderTable thead th:first-child {
  border-left: none;
}
table.orderTable td {
  vertical-align: top;
  border: 1px solid #aaa;
  padding: 3px 2px;
}
table.orderTable .addressBox {
  padding: 5px;
  margin: 5px;
  background: #b88989;
}
table.orderTable .productListTable {
  width: 100%;
}
table.orderTable .productListTable thead {
  color: white;
  background: #0ea6b7;
}
table.orderTable .contactTable {
  width: 100%;
}
table.orderTable tfoot .links {
  text-align: right;
}
table.orderTable tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
}
table.orderTable tfoot .links td {
  font-size: 14px;
}
table.orderTable tbody td {
  font-size: 13px;
}
table.orderTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444;
}
 