
$base-background-color: #c6b753;
$base-foreground-color: rgba($base-background-color, 0.88);

$base-text-color: #507ed0;

$itembox-color-unselected: #fcf4f6;
$itembox-color-selected: #f30e43;

$error-color: red;

$base-header-color: rgba(0, 0, 0, 0.63);
$h1-color: darken($base-header-color, 8%);
$h2-color:darken($base-header-color, 5%);
$h3-color:darken($base-header-color, 2%);
$h4-color: darken($base-header-color, 1%);

.admin-screen {
  background: white;
}
.admin-screen h1 {
  color: $base-header-color;
}
.admin-screen h2 {
  //font-family: "Arial", Arial, serif;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  //font-style: italic;
  //font-size: 50px;
  font-weight: normal;
  color: $base-header-color;
}
.admin-screen h3 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: darken($base-header-color, 5%);
}
.admin-screen h4 {
  font-family: "Arial", Times, serif;
  font-style: normal;
  color: #0c0606;
  //padding-left: 40px;
  //padding-top: 10px;
}
.admin-screen .admin-product-list {
  display: flex;
  flex-wrap: wrap;
}

.admin-screen ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.admin-screen li {
  float: left;
}
.admin-screen li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.admin-screen li a:hover {
  background-color: #111;
}
