
//table, tr {
//  border: hidden;
//}
//
//td, th {
//  border: hidden;
//}

table.orderTable {
  //border: 12px solid #1c6ea4;
  background-color: #eee;
  width: 100%;
  text-align: left;
  //border-collapse: collapse;
  margin: 20px;
}
table.orderTable thead {

}


table.orderTable tr {
  border-bottom: 11px solid #ad1111;
}
table.orderTable tr:hover {
  background-color: #ddd;
}
table.orderTable tr:nth-child(even){
  background-color: #ffffff;
}




table.orderTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  //border-left: 2px solid #d0e4f5;
}

table.orderTable thead th:first-child {
  border-left: none;
}

table.orderTable td {
  vertical-align: top;
  //border: 1px solid #aaa;
  padding: 3px 2px;

}

table.orderTable .addressBox {
  padding: 5px;
  margin: 5px;
  background: #b88989;
}

table.orderTable .productListTable thead {

  color: white;
  background: #6d7377;
}

table.orderTable .productListTable {
  width: 100%;
  //border: none;
  //border: 5px SOLID RED;
  //cellspacing: 30px;
  background-color: #ffffff;
}

.productListTable.tr {
  //border: none;

}

.productListTable tr, td {

}


table.orderTable .contactTable {
  width: 100%;
}

