

$base-background-color: #c6538c;
$base-foreground-color: rgba($base-background-color, 0.88);

$base-text-color: #5e95f6;

$itembox-color-unselected: #fcf4f6;
$itembox-color-selected: #f30e43;

$error-color: red;

$base-header-color: #c6538c;
$h1-color: darken($base-header-color, 8%);
$h2-color:darken($base-header-color, 5%);
$h3-color:darken($base-header-color, 2%);
$h4-color: darken($base-header-color, 1%);


//button {
//  padding: 5px;
//  margin: 5px;
//  cursor: crosshair;
//}



a {
  text-decoration: none;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
.marquee {
  width: 100%;
  line-height: 50px;
  background-color: #c73434;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

span.error {
  color: $error-color
}

div.error {
  color: $error-color
}



//button{
//  position: relative;
//  margin: 2px;
//
//  &:before {
//    content: '';
//    position: absolute;
//    right: 16px;
//    top: 50%;
//    margin-top: -12px;
//    width: 24px;
//    height: 24px;
//    border: 2px solid;
//    border-left-color: transparent;
//    border-right-color: transparent;
//    border-radius: 50%;
//    opacity: 0;
//    transition: opacity 0.5s;
//    animation: 0.8s linear infinite rotate;
//  }
//  &.sending{
//    pointer-events: none;
//    cursor: not-allowed;
//
//    &:before {
//      transition-delay: 0.5s;
//      transition-duration: 1s;
//      opacity: 1;
//    }
//  }
//}
//
//@keyframes rotate {
//  0% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(360deg);
//  }
//}