
.next-prev-button {
  cursor: pointer;
  height: 100px;
  background-color: #fff6fe;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;

  .icon {
    font-size: 100px;
    color: gray
  }

  .label {
    font-size: 65px;
    color: gray;
  }
}


a {
  text-decoration: none;
}



.order-wizard {
  display: flex;
  background: #fff6fe;
}




