//nav
.main-nav {
  background-color: white;

  .upper {
    font-family: Lato, arial, sans-serif;
    padding: 20px;
    font-size: 16px;

    text-align: center;
    //background: red;

  }

  .lower {
    font-family: Lato, arial, sans-serif;
    padding: 20px;
    font-size: 24px;

    text-align: center;
    //background: red;

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(246, 246, 246);
  }

  li {

    font-family: Lato, arial, sans-serif;

    //color: rgb(27, 27, 27);
    float: left;
  }

  li a {
    display: block;
    color: rgb(27, 27, 27);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li.mock {
    float: right;
    padding: 16px;
    color: #d35ff3;
  }

  li.loggedIn {
    padding: 16px;
    color: red;
    float: right;
  }

  li.logout {
    cursor: pointer;
    color: #4fe3c6;
    float: right;
  }

  li.admin {
    //padding: 16px;
    color: orange;
    float: right;
  }

  li a:hover {
    background-color: #111111;
  }
}

