@media (min-width: 768px) {
  .x .c1-d {
    font-size: 16px
  }
}

@media (min-width: 768px) {
  .x .c1-12 {
    width: 100%
  }
}

@media (min-width: 768px) {
  .x .c1-13 {
    display: flex
  }
}

@media (min-width: 768px) {
  .x .c1-14 {
    align-items: center
  }
}

@media (min-width: 768px) {
  .x .c1-15 {
    justify-content: center
  }
}

@media (min-width: 768px) {
  .x .c1-1h {
    display: inline-block
  }
}

@media (min-width: 768px) {
  .x .c1-2m {
    margin-top: 0
  }
}

@media (min-width: 768px) {
  .x .c1-2n {
    margin-right: -24px
  }
}

@media (min-width: 768px) {
  .x .c1-2o {
    margin-bottom: 0
  }
}

@media (min-width: 768px) {
  .x .c1-2p {
    margin-left: -24px
  }
}

@media (min-width: 768px) {
  .x .c1-2x {
    padding-top: 0
  }
}

@media (min-width: 768px) {
  .x .c1-2y {
    padding-right: 24px
  }
}

@media (min-width: 768px) {
  .x .c1-2z {
    padding-bottom: 0
  }
}

@media (min-width: 768px) {
  .x .c1-30 {
    padding-left: 24px
  }
}

@media (min-width: 768px) {
  .x .c1-45 {
    font-size: 14px
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-4q {
    right: 0px
  }
}

@media (min-width: 768px) {
  .x .c1-5h {
    font-size: 28px
  }
}

@media (min-width: 768px) {
  .x .c1-5w {
    font-size: 22px
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-6c {
    width: 100%
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-6r {
    display: block
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-6s {
    max-height: 80px
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-6t {
    margin-top: 0
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-6u {
    margin-right: auto
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-6v {
    margin-bottom: 0
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-6w {
    margin-left: auto
  }
}

@media (min-width: 768px) {
  .x .c1-78 {
    font-size: 12px
  }
}

@media (min-width: 768px) {
  .x .c1-81 {
    font-size: 38px
  }
}

@media (min-width: 768px) {
  .x .c1-88 {
    margin-bottom: -48px
  }
}

@media (min-width: 768px) {
  .x .c1-8a {
    flex-basis: 50%
  }
}

@media (min-width: 768px) {
  .x .c1-8b {
    max-width: 50%
  }
}

@media (min-width: 768px) {
  .x .c1-8c {
    padding-bottom: 48px
  }
}

@media (min-width: 768px) {
  .x .c1-8j {
    position: absolute
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-8l {
    position: relative
  }
}

@media (min-width: 768px) {
  .x .c1-8m {
    object-fit: cover
  }
}

@media (min-width: 768px) {
  .x .c1-9z {
    width: auto
  }
}

@media (min-width: 768px) {
  .x .c1-a0 {
    margin-left: 8.333333333333332%
  }
}

@media (min-width: 768px) {
  .x .c1-a1 {
    flex-basis: 83.33333333333334%
  }
}

@media (min-width: 768px) {
  .x .c1-a2 {
    max-width: 83.33333333333334%
  }
}

@media (min-width: 768px) {
  .x .c1-a4 {
    font-size: 18px
  }
}

@media (min-width: 768px) {
  .x .c1-am {
    margin-left: 16px
  }
}

@media (min-width: 768px) {
  .x .c1-an {
    margin-right: 16px
  }
}